<nb-card>
  <nb-card-header>Register</nb-card-header>
  <nb-card-body class="center">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input
        type="email"
        nbInput
        placeholder="Your email"
        name="email"
        email
        required
      />
      <input
        type="password"
        nbInput
        placeholder="Your password"
        name="password"
        required
        minlength="6"
      />
      <button nbButton type="submit" [disabled]="registerForm.invalid">
        Submit
      </button>
    </form>
  </nb-card-body>
</nb-card>
